:root {
  --color-text: black;
  --color-background: white;
}

html {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: "Righteous", cursive;
  font-size: 62.5%;
  /* line-height: 1; */
}

@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 1vw;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 1.2vw;
  }
}

@keyframes slide-up-reveal {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-down-hide {
  0% {
    transform: translate(0, 0);
  }
  
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes cover-reveal {
  0% {
    background-size: 100% 100%, 0 100%;
  }

  50% {
    background-size: 0 100%, 100% 100%;
  }

  100% {
    background-size: 100% 100%, 0 100%;
  }
}

@keyframes fade-in-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-hide {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes scale-up-reveal {
  0% {
    transform: scale(.5, .5);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes scale-down-hide {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}