:root {
  --color-text: black;
  --color-background: white;
}

html {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: "Righteous", cursive;
  font-size: 62.5%;
  /* line-height: 1; */
}

@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 1vw;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 1.2vw;
  }
}
