:root {
  --color-text: black;
}

html {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Righteous', cursive;
  font-size: 62.5%;
  /* line-height: 1; */
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
}

#c {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* NAVIGATION */
button {
  display: block;
  width: 100%;
  text-align: unset;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

nav {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul button {
  position: relative;
}

nav ul button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-text);
  width: 0;
  transition: width .2s ease-in;
}

nav ul button:hover::before,
nav ul button:focus::before {
  width: .5rem;
}

.nav-link {
  display: inline-block;
  margin-left: 20%;
  font-size: 8rem;
}

nav ul button:focus .nav-link {
  outline: 1px solid var(--color-text);
}

.nav-link-sub {
  display: none;
  font-size: 3rem;
}

nav ul button:hover .nav-link-sub,
nav ul button:focus .nav-link-sub {
  display: initial;
}
